.card {
	display: flex;
	gap: 2rem;
}

.card--cover-image {
	max-width: 250px;
	border-radius: 0.5rem;
}

.card--info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card--country {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #2b283a;
}

.card--location {
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 1.5rem;
}

.card--date {
	font-size: 0.8rem;
	font-weight: 800;
	margin-bottom: 1rem;
}
